@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  justify-content: center;
  align-content: center;
  height: 500px;
  width: 390px;
  border-radius: 10px;
}

.paloBottom {
  transform: rotate(180deg);
  font-size: 110px;
  position: absolute;
  bottom: 0px;
  left: 78%;
  margin: 0%;
}

.paloTop {
  font-size: 110px;
  position: absolute;
  top: 0px;
  right: 78%;
}

.number {
  font-size: 120px;
}

.btn {
  position: absolute;
  left: 20%;
  bottom: 50%;
}
